apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: app-services
  namespace: app
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: gateway
  endpoints:
  - port: http
    interval: 30s