apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: data-service-monitor
  namespace: app
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: data-service
  endpoints:
  - port: http
    interval: 30s